body{
    display: flex;
    margin: 0;
    font-family: sans-serif;
    justify-content: center;
}
.container {
    max-width: 550px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 28px 0px;
    background-image: linear-gradient(to top , #4eaacb, #0c93c4);
    width: 100%;
    margin: 0;
}
.top > div {
    margin: 0 15px;
}
.image-area img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid grey;
}
.image-area {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 94%;
}
.image-area > div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.inner-container {
    background-image: linear-gradient(to top , #d8f1fa , #80c0d4);
    padding: 3%;
    display: flex;
    flex-direction: column;
    margin: 15px 18px;
    border-radius: 10px;
    width: 90%;
    gap: 20px;
}
.top :last-child {
    background-color: rgba(0, 0, 0, 0.279);
    padding: 9px;
    border-radius: 6px;
    cursor: pointer;
}
.top :last-child:hover {
    transform: scale(0.9);
}
.inner-container hr {
    border: 0.5px solid rgba(0, 0, 0, 0.49);
}
.confirm-btn:hover {
    transform: scale(0.9);
}
.number-input {
    display: flex;
    background-image: linear-gradient(to top , #80c0d4, #4eaacb);
    gap: 0;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding: 3%;
    margin: 0;
    width: 90%;
}
.second {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.second input {
    width: 90%;
    background-color: transparent;
    font-size: 1.3em;
    border: 0;
    outline: 0;
}
.second > div {
    width: 70%;
}
.second > div >i {
    width: 8%;
}
.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    gap: 10%;
    margin-left: 0;
}
.number-input img {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid gray;
}
.v-line {
    border: 0.1px solid rgba(0, 0, 0, 0.448);
    width: 30px;
    height: 0%;
    transform: rotate(90deg);
    margin: 0;
}
.second > i {
    width: 15%;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(161, 160, 160);
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: clamp(1.2em, 3vw , 2em);
    color: rgb(209, 207, 207);
}
.networks img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.networks > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 8px;
}
.networks > div:hover{
    background-color: rgba(0, 0, 0, 0.245);
}
.networks > div > div {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 10px;
}
.networks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(to top , #d8f1fa , #80c0d4);
    border-radius: 0 0 10px 10px;
    position: absolute;  
    width: 100%;
    top: 90%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.number-input .click {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}
.number-input .networks input {
    padding: 0;
    margin: 10px 30px 10px 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    border: 2px solid black;
}
.number-input .networks input:checked {
    background-color: blue;
}
.h-line hr {
    border: 0.01px solid rgba(0, 0, 0, 0.344);
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
}
#networksDown {
    color: gray;
    transition: all 0.5s ease;
    cursor: pointer;

}
.first .clicked {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}
.data-plan-headings {
    display: flex;
    gap: 30px;
    overflow: auto;
    white-space: nowrap;
}
.data-plan-headings > div {
    cursor: pointer;
}
.data-plan-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 3% 4%;
}
.data-plan-row > div {
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.205);
    width: 50px;
}
.data-plans-area {
    font-size: 0.9em;
}
.data-plan-row > div > div {
    white-space: nowrap;
    font-size: 0.9em;
}
.airtel-data-plans {
    display: none;
}
.glo-data-plans {
    display: none;
}
.mtn-data-plans {
    display: none;
}
.mobile9-data-plans {
    display: none;
}
.inner-container > .clicked {
    display: block;
}
.data-amount {
font-size: 1.2em;
}
.airtel-data-plans .data-plans-area > div {
    display: none;
}
.airtel-data-plans .data-plans-area .clicked{
    display: block;
}
.data-plan-headings .clicked::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    width: 20px;
    height: 5px;
    border-radius: 3px;
    background-color: rgb(65, 64, 64);
}
.data-plan-headings .clicked{
    font-weight: bolder;
}
.glo-data-plans .data-plans-area > div {
    display: none;
}
.glo-data-plans .data-plans-area .clicked {
    display: block;
}
.mtn-data-plans .data-plans-area > div {
    display: none;
}
.mtn-data-plans .data-plans-area .clicked {
    display: block;
}
.mobile9-data-plans .data-plans-area > div {
    display: none;
}
.mobile9-data-plans .data-plans-area .clicked {
    display: block;
}
