body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  padding: 0 15px 15px 15px;
  position: relative;
  height: auto;
  width: 100%;

}
.nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: clamp(30px, 1vw, 100px);
    align-items: center;
    position: fixed;
    max-width: 550px;
    width: 100%;
    bottom: 0px;
    height: 80px;
    
    color: #ffff;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(24, 24, 24);
}
.profile-top {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
}
.balance-area {
    display: flex;
    margin: 20px 5px 0 5px;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(to top , #85C4DA , #0c93c4);
    border-radius: 15px;
}
.actions-area {
    display: flex;
    margin: 20px 5px 0 5px;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(to top , #99C9DB , #85C4DA);
    border-radius: 15px;
}
.services-area {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px 75px 5px;
  padding: 20px;
  background-image: linear-gradient(to top , #e0e7ea , #99C9DB);
  border-radius: 15px;
}
button {
  width: 80px;
  margin-left: 70px;
  border-radius: 20px;
  border: 0;
  padding: 7px;
}
.container .hide {
  display: none;
}
.nav-bar .clicked {
  background-color: rgb(86, 85, 85);
  padding: 8px;
  border-radius: 4px;
}
.container > .hide {
  display: none;
}
.user-top-up {
  display: flex;
  justify-content: space-between;
}
.user-top-down {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  border-radius: 8px;
  margin: 5px 5px;
  width: auto;
  background-image: linear-gradient(to top , #85C4DA , #0c93c4);
  position: sticky;
  top: 9px;
}
.user-main > div > div:first-child {
    display: flex;
    gap: 20px;
}
.user-main > div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 25px;
    margin: 0 15px;
    border-radius: 10px;
}
.user-main > div:hover {
  background-color: #b5b3b3;
}
.user-main {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}
.user-main i {
  color: #0c93c4;
  font-size: larger;
}
.nav-bar > div:hover {
  font-size: 0.8em;
}
.nav-bar > div {
  width: 50px;
  display: flex;
  justify-content: center;
}
.total-balance .hide {
  display: none;
}
.slash {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  top: -55%;
  transform: translateY(100%);
  left: 25%;
  transform: rotate(15deg);
  display: none;
}
.user-top-down .show {
  display: block;
}
#viewTotalBalance {
  position: relative;
}