body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 550px;
    background-image: linear-gradient(to top, #e0e7ea, #0c93c4);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    min-height: 100vh;
}
.settings {
    display: flex;
    justify-content: center;
    margin: 7px 0 20px 0;
    font-size: 1.2em;
}
.container>div > :first-child{
    font-weight: 900;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}
.container >:last-child > :first-child {
    font-weight: 900;
    padding: 10px;
    border-radius: 6px;
}
.container>div > :first-child:hover {
    background-color: rgba(0, 0, 0, 0.251);
}
.container>div > :nth-child(2) {
    height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0 0 0 10px;
    transition: all 0.5s ease;
}
.container > div >:nth-child(2) > div {
    margin-top: 10px;
}
i {
    margin-left: 15px;
    color: gray;
    font-weight: 700;
    transition: all 0.5s ease;
}
.clicked {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}
.container>div > .show {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    cursor: pointer;
}
.container>div > .show > div {
    padding: 2px 0 2px 5px;
    border-radius: 2px;
}
.container>div > .show > div:hover {
    background-color: rgba(0, 0, 0, 0.251);
}
.container >:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider::before {
  transform: translateX(22px);
}
